Django>=4.0
djangorestframework
django-allauth
dj-rest-auth
google-auth
requests
PyJWT
cryptography
djangorestframework-simplejwt
google-auth
python-dotenv
django-environ
openai
channels
daphne
channels-redis