{% extends "base.html" %}
{% block content %}
<div class="login-container">
  <h2>Google 로그인</h2>
  <div id="g_id_onload"
       data-client_id="{{ GOOGLE_CLIENT_ID }}"
       data-auto_prompt="false"
       data-callback="handleGoogleCredentialResponse">
  </div>

  <div class="g_id_signin"
       data-type="standard"
       data-size="large"
       data-theme="outline"
       data-text="signin_with"
       data-shape="rectangular"
       data-logo_alignment="left">
  </div>
</div>
{% endblock %}
